<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_mbk_fm_root"
              name="Facility Management"
              web_icon="mbk_fm,static/description/icon.png"
              sequence="0"/>
    <menuitem id="menu_mbk_fm_maintenance"
              name="Maintenance"
              parent="menu_mbk_fm_root"
              sequence="10"/>
    <menuitem id="menu_mbk_fm_reports"
              name="Reports"
              parent="menu_mbk_fm_root"
              sequence="25"/>
    <menuitem id="menu_mbk_fm_config"
              name="Configuration"
              parent="menu_mbk_fm_root"
              sequence="50"/>

    <menuitem id="menu_mbk_config"
              name="MBK Settings"
              parent="base.menu_administration"
              sequence="120"/>
</odoo>